.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    max-height: 120px !important;
    min-height: 100px !important;
    height: 15vh !important;
}

.tasks-container {
    color: black;
  }

  .move {
      cursor: move !important;
  }
  
  .task-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

  .task-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;

    box-sizing: border-box;
    cursor: move !important;
    background: white;
    font-size: 12px;
  }

.cdk-drag-preview {
    box-sizing: border-box;
    color: black;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 1;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  
  .task-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }